<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uml.android.adventurersarchive">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Preferences"
                  android:parentActivityName=".MainActivity"
                  android:theme="@android:style/Theme.Holo" />
        <activity android:name=".CreateCharacterActivity"
                  android:parentActivityName=".MainActivity"
                  android:label="Create a Character" />
        <activity android:name=".CharacterMainActivity"
                  android:parentActivityName=".MainActivity"
                  android:label="" />
        <activity android:name=".CharacterSheetActivity"
                  android:parentActivityName=".CharacterMainActivity"
                  android:label="" />
        <activity android:name=".CharacterEquipmentActivity"
            android:parentActivityName=".CharacterMainActivity"
            android:label="Equipment" />
        <activity android:name=".CharacterSpellbookActivity"
            android:parentActivityName=".CharacterMainActivity"
            android:label="Spellbook" />
    </application>
</manifest>